<% platform = @user.platform %>
<% url = (Rails.env == 'development' || Rails.env == 'staging') ? 'staging.apib2c.es.virbac.com' : 'apib2c.es.virbac.com' %>
<% platform_url = (@user.platform == 'vetapp') ? URI::HTTPS.build(host: Rails.configuration.application.vet_app , path: '/reset-password', query: { token: @user.reset_password_token }.to_query).to_s : URI::HTTPS.build(host: url, path: '/reset-password', query: { token: @user.reset_password_token }.to_query).to_s %>

<%= render partial: 'app/shared/header', locals: { title: t("app.auth_mailer.reset_password.#{platform}.title") } %>

<main>
	<p><%= t("app.auth_mailer.reset_password.#{platform}.hi", name: @user.name) %></p>
	<p>
		<%= raw t("app.auth_mailer.reset_password.#{platform}.body", url: platform_url) %>
	</p>
	<p>
		<%= t("app.auth_mailer.reset_password.#{platform}.valid") %>
	</p>
</main>

<%= render partial: 'app/shared/signature' %>
<%= render partial: 'app/shared/footer', locals: { text: t("app.auth_mailer.reset_password.#{platform}.footer", mail: Rails.configuration.application.contact_email) } %>
